<div id='gallery'>
    <style>
        .full {
            position: static;
            left: 0;
            top: 0;
            min-width: 100%;
            height: 650px;
            object-fit: cover;
        }
    </style>
    <nav-bar></nav-bar>
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class='full' src="images/silver1.jpg">
            <div class="carousel-caption">
                <h3>Example</h3>
                <p>Description.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='full' src="images/silver3.jpg">
            <div class="carousel-caption">
                <h3>Example</h3>
                <p>Description.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='full' src="images/silver2.jpg">
            <div class="carousel-caption">
                <h3>Example</h3>
                <p>Description.</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class='container mt-4'>
        <h1>Gallery</h1><hr/>
        <div class="mt-4 row text-center text-lg-left">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/placeholder.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>