<div id='gallery'>
    <style>
        .full {
            margin-top: -55px;
            position: static;
            left: 0;
            top: 0;
            min-width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    </style>
    <nav-bar></nav-bar>
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class='full' src="images/placeholder2.png" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Example</h3>
                <p>Description.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='full' src="images/placeholder2.png" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Example</h3>
                <p>Description.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='full' src="images/placeholder2.png" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Example</h3>
                <p>Description.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>