<div id='items'>
    <nav-bar></nav-bar>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-3 col-xs-12 mb-4 pt-4' style='background: rgb(177, 163, 147);'>
                <ul class="list-group">
                    <li [class.active]='category == selectedCategory' *ngFor="let category of getCategories()" style='cursor: pointer;' (click)='onSelected(category)' class="list-group-item list-group-item-action justify-content-between">
                        {{category.name}}
                        <span class="badge badge-default badge-pill">{{getCategoryCount(category)}}</span>
                    </li>
                </ul>
                <p class='mt-4'>
                    Some random text...
                </p>
            </div>
            <div class='col-md-9 mt-4'>
                <div class='row card-group' >
                    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let item of getItems() | byCategory:selectedCategory">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{{item.img}}">
                            <div class="card-block">
                                <h4 class="card-title">{{item.title}} <span class='pull-right thin'>{{item.price | currency:'GBP':true}}</span></h4>
                                <p class="card-text justify">{{item.description}}</p>
                                <button (click)='openItem(item)' href="" class="btn btn-default">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>