 <div class='container-fixed'>
    <img class='fill-canvas' src='images/city.png' />
    <nav class="navbar navbar-toggleable-sm navbar-inverse" style="background-color: rgba(0, 0, 0, 0.15);">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#my-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Ladywell Antiques</a>

        <div class="collapse navbar-collapse" id="my-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active pull-xs-right">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Buy Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>  
    <div class='center-vertical'>
        <p class='header-page'>    
            Ladywell Antiques are silver specialists that trade in high quality silver in the antiques market. All silver items are high quality and are restored to the highest quality before they are even seen by potential buyers. We are based in Clackmannishire and export to the rest of the UK.
            <br/>
            <button style='margin-top:20px;' class='btn btn-link'>Browse Now</button>
            <br/>
            <span id='location'>
            Tillicoultry, Scotland <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </span>
        </p>
    </div>
</div>
