 <div class='container-fixed'>
    <img class='fill-canvas' src='images/background.jpg' />
    <nav class="navbar navbar-toggleable-sm navbar-inverse" style="background-color: transparent;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#my-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Ladywell Antiques</a>

        <div class="collapse navbar-collapse" id="my-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active pull-xs-right">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Buy Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>   
</div>
