<div id='home'>
    <img class='fill-canvas' src='images/city.png' />
    <nav-bar></nav-bar>
    
    <div class='center-vertical'>
        <p class='header-page'>
            <span id='header'>
            High Quality Silver
        </span>
            <br/> We are silver specialists that trade in high quality silver in the antiques market. We are based in Clackmannishire
            and export to the UK market.
            <br/>
            <button routerLink="/gallery" style='margin-top:20px;' class='btn btn-link'>Browse Now</button>
            <br/>
            <span id='location'>
            Tillicoultry, Scotland <i class="fa fa-location-arrow" aria-hidden="true"></i>
        </span>
        </p>
    </div>
</div>