<div id='items'>
    <nav-bar></nav-bar>

    <div class='container mt-4'>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top img-fluid" src="http://www.jamesbaldwinantiques.com/gallery/p_325/An_Ottoman_Silver_Dish_Turkish_antique_silver_circa_1900-06.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>