<nav class="navbar navbar-toggleable-sm navbar-inverse" style="background-color: rgba(0, 0, 0, 0.15);">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#my-navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Ladywell Antiques</a>

    <div class="collapse navbar-collapse" id="my-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pull-xs-right">
                <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/items" routerLinkActive="active">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/gallery" routerLinkActive="active">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/reviews" routerLinkActive="active">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>