<div id='admin-nav'>
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-toggleable-sm mb-3" style='background: #1f1d1d'>
        <nav class="navbar">
            <a (click)='false' class="navbar-brand" href="">
                <img src="images/admin.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <span class='ml-2'>Admin Dashboard</span>
            </a>
        </nav>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Logout</a>
            </li>
        </ul>
    </nav>
</div>