<div id='home'>
    <img class='fill-canvas' src='images/city.jpg' />
    <nav-bar></nav-bar>


    <div class='center-vertical'>
        <p class='header-page'>
            <span id='header'>
                High Quality Silver
            </span>
            <br/> 
            <span id='text'>
                We are silver specialists that trade in high quality silver in the antiques market. We are based in Clackmannishire
                and sell to the UK market.
            </span>
            <br/>
            <button routerLink="/items" style='margin-top:20px;' class='btn btn-link'>Browse Now</button>
            <br/>
         
        </p>
    </div>
</div>